<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API-Vending</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>

<body class="bg-secondary d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><i class="bi bi-router"></i> Maquina Vending</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <%if (user) {%>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item d-md-none ms-2">
                            <a class="nav-link" href="/sales"><i class="bi bi-currency-dollar"></i> Ventas</a>
                        </li>
                        <li class="nav-item d-md-none ms-2">
                            <a class="nav-link" href="/config"><i class="bi bi-gear"></i> Configuración</a>
                        </li>
                        <li class="nav-item d-md-none ms-2">
                            <a class="nav-link" href="/logout"><i class="bi bi-box-arrow-left"></i> Cerrar Sesión</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-none d-md-inline-block" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-pencil-square"></i> Opciones
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/sales"><i class="bi bi-currency-dollar"></i>
                                        Ventas</a></li>
                                <li><a class="dropdown-item" href="/config"><i class="bi bi-gear"></i> Configuración</a>
                                </li>
                                <li><a class="dropdown-item" href="/logout"><i class="bi bi-box-arrow-left"></i> Cerrar
                                        Sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                    <hr class="text-white-50">
                </div>
                <%}%>
        </div>
    </nav>

    <div class="container">

        <!-- Alerta de Inicio de Sesión -->

        <% if (signupMessage.length> 0) {%>
            <div class="alert alert-dismissible alert-danger">
                <i class="bi bi-exclamation-triangle-fill"></i>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>Error! </strong>
                <%= signupMessage%>
            </div>
            <%} %>

                <!-- Alertas de Registro de usuario -->

                <% if (signinMessage.length> 0) {%>
                    <div class="alert alert-dismissible alert-danger">
                        <i class="bi bi-exclamation-triangle-fill"></i>
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <strong>Error! </strong>
                        <%= signinMessage%>
                    </div>
                    <%} %>

                        <!-- Alertas de Configuracion -->

                        <% if (configErrorMessage.length> 0) {%>
                            <div class="alert alert-dismissible alert-danger">
                                <i class="bi bi-exclamation-triangle-fill"></i>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                <strong>Error! </strong>
                                <%= configErrorMessage%>
                            </div>
                            <%} %>

                                <% if (configMessage.length> 0) {%>
                                    <div class="alert alert-dismissible alert-success">
                                        <i class="bi bi-check-circle-fill"></i>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                        <strong>¡Bien hecho! </strong>
                                        <%= configMessage%>
                                    </div>
                                    <%} %>

                                        <!-- Alertas de Dashboard -->

                                        <% if (dashboardMessage.length> 0) {%>
                                            <div class="alert alert-dismissible alert-success">
                                                <i class="bi bi-check-circle-fill"></i>
                                                <button type="button" class="btn-close"
                                                    data-bs-dismiss="alert"></button>
                                                <strong>¡Bien hecho! </strong>
                                                <%= dashboardMessage%>
                                            </div>
                                            <%} %>

                                                <% if (dashboardErrorMessage.length> 0) {%>
                                                    <div class="alert alert-dismissible alert-danger">
                                                        <i class="bi bi-exclamation-triangle-fill"></i>
                                                        <button type="button" class="btn-close"
                                                            data-bs-dismiss="alert"></button>
                                                        <strong>Error! </strong>
                                                        <%= dashboardErrorMessage%>
                                                    </div>
                                                    <%} %>

                                                        <%- body %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>

</body>
<div class="mt-5"></div>

<footer class="bg-dark text-center text-white mt-auto">
    <div class="text-center p-3">
        © 2023 Copyright: Sistema de Administración para Máquina Vending de Fichas Hotspot
    </div>
</footer>

</html>
