<%- layout('layout/main.ejs') %>

    <h1 class="mt-4">Configuración</h1>

    <div class="card mt-4">
        <div class="card-header text-center">
            <h3>Perfil</h3>
        </div>
        <div class="card-body">
            <form action="/change-user" method="POST">
                <div class="form-group">
                    <label for="user" class="form-label">Cambiar nombre de usuario: </label>
                    <input type="email" name="user" class="form-control mt-2" value="<%= user.user %>">
                </div>
                <div class="d-grid mt-4 gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-primary me-md">
                        <i class="bi bi-save"></i>  Guardar Usuario
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header text-center">
            <h3>Seguridad</h3>
        </div>
        <div class="card-body">
            <form action="/change-password" method="POST">
                <div class="form-group">
                    <label for="password" class="form-label mt-2">Contraseña Actual: </label>
                    <input type="password" name="password" class="form-control mt-2">
                </div>
                <div class="form-group">
                    <label for="newPassword" class="form-label mt-2">Nueva contraseña: </label>
                    <input type="password" name="newPassword" class="form-control mt-2">
                </div>
                <div class="form-group">
                    <label for="newPasswordConfirm" class="form-label mt-2">Confirmar nueva contraseña: </label>
                    <input type="password" name="newPasswordConfirm" class="form-control mt-2">
                </div>
                <div class="d-grid mt-4 gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-primary me-md">
                        <i class="bi bi-key"></i>  Cambiar Contraseña
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header text-center">
            <h3>Perfiles</h3>
        </div>
        <div class="card-body">
            <form action="/addProfile" method="POST" class="row g-3">
                <div class="col-md-4">
                  <label for="profile" class="visually-hidden">Nombre del Perfil</label>
                  <input type="text" class="form-control" id="profile" name="profile" placeholder="Nombre del Perfil">
                </div>
                <div class="col-md-4">
                  <label for="price" class="visually-hidden">Precio</label>
                  <input type="number" step=".10" class="form-control" id="price" name="price" placeholder="Precio">
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-primary mb-3 me-md">
                    <i class="bi bi-plus-circle"></i>  Guardar Perfil
                </button>
                </div>
              </form>
            <table class="table table-hover table-responsive table-sm">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Precio ($)</th>
                      <th scope="col">Estatus</th>
                      <th scope="col">Fecha de Creación</th>
                      <th scope="col">Última Modificación</th>
                      <th scope="col">Cambiar Estatus</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%profiles.forEach((perfil) => {%>
                        <tr>
                        <th scope="row"><%= perfil.id %></th>
                        <td><%= perfil.profile %></td>
                        <td><%= perfil.price %></td>
                        <td><%= (perfil.status)? "Activado" : "Desactivado" %></td>
                        <td><%= perfil.createdAt %></td>
                        <td><%= perfil.updatedAt %></td>
                        <td>
                            <a href="/change-profile-status/<%= perfil.id %>" class="btn btn-info"><i class="bi bi-pencil-square"></i></a>
                        </td>
                        </tr>
                    <%});%>
                  </tbody>
            </table>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header text-center">
            <h3>Conexión</h3>
        </div>
        <div class="card-body">
            <form action="/addKey" method="POST">
                <div class="d-grid mt-2 gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-primary me-md">
                        <i class="bi bi-plus-circle"></i>  Generar Nueva Api-Key
                    </button>
                </div>
            </form>
            <table class="table table-hover table-responsive table-sm">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Api-Key</th>
                      <th scope="col">Estatus</th>
                      <th scope="col">Fecha de Creación</th>
                      <th scope="col">Última Modificación</th>
                      <th scope="col">Cambiar Estatus</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%keys.forEach((key) => {%>
                        <tr>
                        <th scope="row"><%= key.id %></th>
                        <td><%= key.key %></td>
                        <td><%= (key.status)? "Activada" : "Desactivada" %></td>
                        <td><%= key.createdAt %></td>
                        <td><%= key.updatedAt %></td>
                        <td>
                            <a href="/change-key-status/<%= key.id %>" class="btn btn-info"><i class="bi bi-pencil-square"></i></a>
                        </td>
                        </tr>
                    <%});%>
                  </tbody>
            </table>
        </div>
    </div>