<%- layout('layout/main.ejs') %>

  <h1 class="mt-4">Dashboard</h1>

  <div class="card mt-4">
    <div class="card-header text-center">
      <h3>Estadísticas</h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
            <tr class="table-dark">
              <th colspan="4" scope="col" class="text-center">Generales</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Fichas Disponibles: </th>
              <td>
                <%= estadisticas.disponiblesTotal %>
              </td>
              <th scope="row">Fichas Vendidas: </th>
              <td>
                <%= estadisticas.vendidasTotal %>
              </td>
            </tr>
            <tr>
              <th scope="row">Total de Fichas: </th>
              <td>
                <%= estadisticas.fichasTotal %>
              </td>
              <th scope="row">Fichas más Vendidas: </th>
              <td>
                <%= estadisticas.masVendida %>
              </td>
            </tr>
            <thead>
              <tr class="table-dark">
                <th colspan="4" scope="col" class="text-center">Estadísticas por perfil</th>
              </tr>
              <tr>
                <th scope="col">Perfil</th>
                <th scope="col">Fichas Disponibles</th>
                <th scope="col">Fichas Vendidas</th>
                <th scope="col">Fichas Total</th>
              </tr>
            </thead>
            <%estadisticas.perfiles.forEach((perfil)=> {%>
              <tr>
                <td>
                  <%= perfil.perfil + " ($" + perfil.precio + ")" %>
                </td>
                <td>
                  <%= perfil.estadisticas.disponibles %>
                </td>
                <td>
                  <%= perfil.estadisticas.vendidas %>
                </td>
                <td>
                  <%= perfil.estadisticas.total %>
                </td>
              </tr>
              <%});%>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header text-center">
      <h3>Agregar Fichas</h3>
    </div>
    <div class="card-body">
      <form action="/fichas" method="POST">
        <div class="col-auto">
          <label for="fichas" class="visually-hidden">Fichas a Insertar</label>
          <textarea rows="5" spellcheck="false" class="form-control" name="fichas" id="fichas"
            placeholder="Inserte las lineas de comandos de fichas"></textarea>
        </div>
        <div class="col-auto">
          <div class="d-grid mt-2 gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-primary me-md" data-bs-toggle="tooltip" data-bs-placement="right"
              title="Explorar y guardar nuevas fichas">
              <i class="bi bi-plus-circle"></i> Aceptar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header text-center">
      <h3>Fichas</h3>
    </div>
    <div class="card-body">
      <form class="row g-3">

        <div class="col-md-4">
          <!-- Select para el estaus de las Fichas -->
          <select class="form-select" aria-label="Default select example" name="status">
            <option <%=(data.status==1)? "selected" : "" %> value="1">Fichas Disponibles</option>
            <option <%=(data.status==0)? "selected" : "" %> value="0">Fichas Vendidas</option>
            <option <%=(data.status==-1)? "selected" : "" %> value="-1">Todas las Fichas</option>
          </select>
        </div>

        <%if(data.status==0){%>
          <div class="col-md-4">
            <!-- Select para las máquina vending -->
            <select class="form-select" aria-label="Default select example" name="vending">
              <option <%=(data.vending=="all" )? "selected" : "" %> value="all">Vendidas por todas las máquinas</option>
              <%data.vendings.forEach((vending)=> {%>
                <option <%=(vending.name==data.vending)? "selected" : "" %> ><%= vending.name %>
                </option>
                <%});%>
            </select>
          </div>
          <%}%>

            <div class="col-md-4">
              <!-- Select para los perfiles de las Fichas -->
              <select class="form-select" aria-label="Default select example" name="profile">
                <option <%=(data.profile=="all" )? "selected" : "" %> value="all">Todos los perfiles</option>
                <%data.perfiles.forEach((perfil)=> {%>
                  <option <%=(perfil.profile==data.profile)? "selected" : "" %> ><%= perfil.profile %>
                  </option>
                  <%});%>
              </select>
            </div>

            <div class="col-md-4">
              <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right"
                title="Filtrar las fichas con los parámetros seleccionados">
                <i class="bi bi-funnel"></i> Filtrar
              </button>
            </div>

      </form>

      <div class="table-responsive">
        <!-- Tabla de las fichas -->
        <table class="table table-hover table-responsive table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Perfil</th>
              <th scope="col">Usuario</th>
              <th scope="col">Contraseña</th>
              <th scope="col">Tiempo</th>
              <th scope="col">Estatus</th>
              <th scope="col">Fecha de Creación</th>
              <th scope="col">Última Modificación</th>
            </tr>
          </thead>
          <tbody>
            <%fichas.forEach((ficha)=> {%>
              <tr class="<%= (ficha.status == 1)? " table-warning" : "table-danger" %>">
                <th scope="row">
                  <%= ficha.id %>
                </th>
                <td>
                  <%= ficha.Perfil.profile + " ($" + ficha.Perfil.price + ")" %>
                </td>
                <td>
                  <%= ficha.user %>
                </td>
                <td>
                  <%= ficha.password %>
                </td>
                <td>
                  <%= ficha.time %>
                </td>
                <td>
                  <%= (ficha.status)? "Disponible" : "Vendida" %>
                </td>
                <td>
                  <%= ficha.createdAt %>
                </td>
                <td>
                  <%= ficha.updatedAt %>
                </td>
              </tr>
              <%});%>
          </tbody>
        </table>
      </div>

      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center flex-wrap">
          <% if(pagination.page> 1) {%>
            <li class="page-item">
              <a class="page-link" href="<%=pagination.urlPages + (pagination.page - 1)%>">Anterior</a>
            </li>
            <%} %>
              <% for(let i=pagination.iterator; i<=pagination.endingLink; i++) {%>
                <% if(i===pagination.page) {%>
                  <li class="page-item active"><a class="page-link" href="<%=pagination.urlPages + i%>">
                      <%=i%>
                    </a></li>
                <% continue; %>
                <%} %>
                <li class="page-item"><a class="page-link" href="<%=pagination.urlPages + i%>">
                <%=i%>
                </a></li>
                <%} %>
                <% if(pagination.page < pagination.numberOfPages) {%>
                  <li class="page-item">
                    <a class="page-link" href="<%=pagination.urlPages + (pagination.page + 1)%>">Siguiente</a>
                  </li>
            <%} %>
        </ul>
      </nav>
    </div>
  </div>